# Dependencies
node_modules/

# Builds
dist/
coverage/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Visual Studio / IDE
.vs/
.idea/

.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Local files
*.local